* {
    margin: 0;
    padding: 0;
    background-color: #3587A4;
    color: white;
}


QToolButton {
    margin: 0;
    padding:0;
    background-color: #EEF0F2;


}

QToolTip {
    color: black;
}

QToolButton::hover {
    margin: 0;
    padding:0;
    background-color: white;

}


QMenuBar {
    margin: 0;
    padding:0;
    background-color: #EEF0F2;
    color: black;
}

QMenu {
    color: white;
}

QMenuBar::item:selected, QMenu::item:selected{
    background-color: #FAFAFF;
    color:#00120B;
}

QTableWidget {
    background-color: #F4F3EE;
    color: black;
}

QTableWidget::item {
    background-color: #F6F5F4;
    color: #0E131F;
}

QTableWidget::item::selected {
    background-color: #031A6B;
    color: white;
}

QHeaderView {
    color: black;
}

QPushButton {
    border: none;
    background-color: #FAFAFF;
}

QGroupBox, QLabel {
    background-color: #FAFAFF;
}

QLabel {
    color: black;
}

QTextEdit {
    background-color: #FAFAFF;
    border: none;
    color: black;
}

/******************** QWizard *******************************************/


QWizardPage QLabel{
    background-color: #3587A4;
    color: white;
}

QWizardPage QSpinBox, QWizardPage QLineEdit {
    background-color: #FAFAFF;
    color: black;
}

QWizard QPushButton {
    padding: 3px;
    min-width: 8em;
    background-color: #EBEBFF;
    color: black;
    border: 1px solid #6A7A8A;
    border-radius: 1px;
    border-style: outset;
    color: black;
}

QWizard QPushButton::hover {
    background-color: white;
}

QWizard QPushButton::disabled {
    background-color: #D6D6FF;
    border: 1px solid #D1D6DC;
    border-style: inset;
    color: #B6ADA5;
}


/******************** Finestre di dialogo *********************************/


QDialog, QDialog QLabel {
    background-color: #3587A4;
    color: white;
}

QDialog QComboBox, QLineEdit {
    background-color: #FAFAFF;
    color: black;
    selection-background-color: white;
    selection-color:black;
    border: 1px solid #6A7A8A;
}

QComboBox {
    padding-left: 5px;
}

QDialog QComboBox QAbstractItemView {

    background-color: #EBEBFF;
    color:black;

    selection-background-color:#3587A4;
    selection-color: white;
}


QDialog QPushButton {
    padding: 3px;
    min-width: 8em;
    background-color: #EBEBFF;
    color: black;
    border: 1px solid #6A7A8A;
    border-radius: 1px;
    border-style: outset;
    color: black;
}

QDialog QPushButton::hover {
    background-color: white;
}

/* non funziona! */
QPushButton#checkButton {
    padding: 3px;
    min-width: 8em;
    background-color: #EBEBFF;
    color: black;
    border: 1px solid #6A7A8A;
    border-radius: 1px;
    border-style: outset;
    color: black;
}



